//***Colors***//
$black: rgb(26, 26, 26);
$placeholder_color: rgba(0, 0, 0, 0.30);
$border_bottom_color: rgb(155, 149, 149, 0.4);
$border_bottom_color2: #dddddd;
$white: #ffffff;
$light_gray: #f3f3f3;
$border_color: #ccc;
$green: #81a135;
$red: #f44336;
$azure: #9ed9db;
$turquoise: #327f87;
//Fonts//
$sans: "Open Sans", sans-serif;