@import "../../../Styles/Variables.scss";
.styled-table {
    border: 1px solid $border_color;
    border-collapse: collapse;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
.short-column {
    width: 30px;
}
.delayed {
    color: $red;
}
.styled-table thead tr {
    background-color: $turquoise;
    color: $white;
    overflow: hidden;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 1.5em;
    text-align: center;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.styled-table tbody tr {
    border-bottom: 1px solid $border_bottom_color2;
    padding: .35em;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: $light_gray;
}
.status-airborne {
    background-color: $green;
}
.status-malfunction {
    background-color: $red;
}
.status-hangar {
    background-color: $azure;
    color: $black;
}
.no-results {
    font-size: 80px;
    color: $placeholder_color;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    .short-column {
        width: 100%;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid $border_bottom_color;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid $border_bottom_color;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}